rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 繪圖集合規則
    match /drawings/{drawingId} {
      allow read: if true;
      allow create: if true;
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['like']);
    }
    
    // 攝影集合規則
    match /photos/{photoId} {
      allow read: if true;
      allow create: if true;
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['like']);
    }
    
    // 其他集合的默認規則
    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
